# Compiled
*.elc

# Packaging
.cask
*html
*pdf
*tex
/1
/2
/guix-binary-0.13.0.x86_64-linux.tar.xz
/guix-binary-0.13.0.x86_64-linux.tar.xz.1
/guix-binary-0.13.0.x86_64-linux.tar.xz.2
/guix-binary-0.13.0.x86_64-linux.tar.xz.3
/guix-binary-0.13.0.x86_64-linux.tar.xz.sig
/guix-binary-0.13.0.x86_64-linux.tar.xz.sig.1
/guix-binary-0.13.0.x86_64-linux.tar.xz.sig.2
/guix-binary-0.13.0.x86_64-linux.tar.xz.sig.3
