# Compiled
*.elc

# Packaging
.cask
*html
*pdf
*tex
/1
/2
/guix-binary-0.13.0.x86_64-linux.tar.xz
/guix-binary-0.13.0.x86_64-linux.tar.xz.1
/guix-binary-0.13.0.x86_64-linux.tar.xz.2
/guix-binary-0.13.0.x86_64-linux.tar.xz.3
/guix-binary-0.13.0.x86_64-linux.tar.xz.sig
/guix-binary-0.13.0.x86_64-linux.tar.xz.sig.1
/guix-binary-0.13.0.x86_64-linux.tar.xz.sig.2
/guix-binary-0.13.0.x86_64-linux.tar.xz.sig.3
/guix-binary-0.13.0.x86_64-linux.tar.xz.10
/guix-binary-0.13.0.x86_64-linux.tar.xz.sig.9
/guix-binary-0.13.0.x86_64-linux.tar.xz.sig.8
/guix-binary-0.13.0.x86_64-linux.tar.xz.sig.7
/guix-binary-0.13.0.x86_64-linux.tar.xz.sig.6
/guix-binary-0.13.0.x86_64-linux.tar.xz.sig.5
/guix-binary-0.13.0.x86_64-linux.tar.xz.sig.4
/guix-binary-0.13.0.x86_64-linux.tar.xz.sig.11
/guix-binary-0.13.0.x86_64-linux.tar.xz.sig.10
/guix-binary-0.13.0.x86_64-linux.tar.xz.9
/guix-binary-0.13.0.x86_64-linux.tar.xz.8
/guix-binary-0.13.0.x86_64-linux.tar.xz.7
/guix-binary-0.13.0.x86_64-linux.tar.xz.6
/guix-binary-0.13.0.x86_64-linux.tar.xz.5
/guix-binary-0.13.0.x86_64-linux.tar.xz.4
/guix-binary-0.13.0.x86_64-linux.tar.xz.11
/wds-guix/#building_from_git.org#
